header,
.intro {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;

    padding: 16px 300px;
}

.menu {
    display: flex;
    gap: 16px;

    list-style-type: none;
}

#intro-img {
    width: 600px;
}